.videoComponent {
  /* width: 4px */
}
.mainTitle {
  position: absolute;
  left: 37vw;
  z-index: 1;
  font-size: 10vh;
  font-family: Permanent Marker;
  color: aliceblue;
}
video {
  width: 100%;
  height: auto;
  position: absolute;
  top: 7%;
  bottom: 0;
}
